public enum {{classname}}: {{dataType}}, Codable, CaseIterableDefaultsLast {
{{#allowableValues}}{{#enumVars}}    case {{name}} = "{{{value}}}"
{{/enumVars}}{{/allowableValues}}
    /// non-existing / unparsed case
    case _unknown = "_unknown"
}